#page-course-view-proa .course-content ul.topics li.section:not(#section-0) {
    padding-bottom: 0;
    border: none;
    position: relative;
}

#page-course-view-proa:not(.editing) .course-content ul.topics li.section:not(#section-0) {
    height: 280px;
}

#page-course-view-proa:not(.editing) .course-content ul.topics li.section.restricted:not(#section-0)::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
}

#page-course-view-proa:not(.editing) .course-content ul.topics li.section.restricted:not(#section-0)::after {
    color: #fff;
    position: absolute;
    right: 20px;
    top: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 42px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f023";
}

#page-course-view-proa:not(.editing) .course-content ul.topics li.section:not(#section-0) .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#page-course-view-proa:not(.editing) .course-content ul.topics li.section:not(#section-0) .content a {
    color: #fff;
    font-weight: 500;
}

#page-course-view-proa .course-content .single-section ul.topics li.section {
    height: inherit !important;
}

#page-course-view-proa .course-content .single-section ul.topics li.section .content {
    position: relative !important;
    background-color: inherit !important;
    color: inherit !important;
}

#page-course-view-proa .course-content .single-section ul.topics li.section .content a {
    color: inherit !important;
}

#page-course-view-proa .courseheader {
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
}

#page-course-view-proa .btn-courseback {
    position: absolute;
    top: 80px;
    left: 200px;
    color: #fff;
    font-size: 22px
}

#page-course-view-proa .coursetitle {
    z-index: 1000;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#page-course-view-proa .coursetitle h2 {
    font-size: 2.34375rem;
    color: #1c3380;
    font-weight: 500;
}

#page-course-view-proa #page {
    padding-top: 520px;
}
