#page-course-view-proa .course-content ul.topics li.section:not(#section-0) {
    padding-bottom: 0;
    border: none;
    position: relative;
}

#page-course-view-proa .course-content ul.topics li.section:not(#section-0) {
    height: 280px;
}

#page-course-view-proa .course-content ul.topics li.section:not(#section-0) .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#page-course-view-proa .course-content ul.topics li.section:not(#section-0) .content a {
    color: #fff;
    font-weight: 500;
}

#page-course-view-proa .course-content .single-section ul.topics li.section {
    height: inherit !important;
}

#page-course-view-proa .course-content .single-section ul.topics li.section .content {
    position: relative !important;
    background-color: inherit !important;
    color: inherit !important;
}

#page-course-view-proa .course-content .single-section ul.topics li.section .content a {
    color: inherit !important;
}